@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
}

@layer components {
  .screen-center {
    @apply flex min-h-[100vh] items-center justify-center;
  }

  .loginInput {
    @apply w-full rounded-lg border border-gray-500 bg-gray-100 px-6 py-3 outline-none placeholder:text-[gray] focus:bg-gray-200;
  }

  .icon {
    @apply cursor-pointer text-xl text-gray-500;
  }

  .flex-between {
    @apply flex items-center justify-center gap-x-4;
  }
}
